In [3]:
import pandas as pd
#import numpy as np

In [4]:
census2010 = pd.read_csv('F:/UTD study/SEM 4 Spring 19/Big Data/Project/population_by_zip_2010.csv')

https://www.statcan.gc.ca/eng/concepts/definitions/age2

In [5]:
def set_age_group(row):
    if row['maximum_age']<= 14.0:
        return "Children"
    elif row['maximum_age']<= 24.0:
        return "Youth"
    elif row['maximum_age']<= 64.0:
        return "Adults"
    elif pd.isnull(row.maximum_age):
        return "Unknown"
    else:
        return "Seniors"

census2010 = census2010.assign(age_group=census2010.apply(set_age_group, axis=1))

In [6]:
census2010.head()

,population,minimum_age,maximum_age,gender,zipcode,geo_id,age_group
0,50,30.0,34.0,female,61747,8600000US61747,Adults
1,5,85.0,NaN,male,64120,8600000US64120,Unknown
2,1389,30.0,34.0,male,95117,8600000US95117,Adults
3,231,60.0,61.0,female,74074,8600000US74074,Adults
4,56,0.0,4.0,female,58042,8600000US58042,Children

In [7]:
census2010.groupby(by=['zipcode','age_group']).sum()

                   population  minimum_age  maximum_age
zipcode age_group
602     Adults          22258        804.0        866.0
        Children         7807         30.0         54.0
        Seniors          4756        714.0        744.0
        Unknown         83468        170.0          0.0
        Youth            6271        192.0        202.0
603     Adults          28039        804.0        866.0
        Children        10494         30.0         54.0
        Seniors          7773        714.0        744.0
        Unknown        110216        170.0          0.0
        Youth            7545        192.0        202.0
606     Adults           3406        804.0        866.0
        Children         1334         30.0         54.0
        Seniors           747        714.0        744.0
        Unknown         13334        170.0          0.0
        Youth            1024        192.0        202.0
610     Adults          15150        804.0        866.0
        Children         5611         30.0         54.0
        Seniors          3825        714.0        744.0
        Unknown         58415        170.0          0.0
        Youth            4047        192.0        202.0
612     Adults          33793        804.0        866.0
        Children        12294         30.0         54.0
        Seniors         10237        714.0        744.0
        Unknown        135361        170.0          0.0
        Youth            9345        192.0        202.0
616     Adults           5691        804.0        866.0
        Children         2081         30.0         54.0
        Seniors          1532        714.0        744.0
        Unknown         22221        170.0          0.0
        Youth            1526        192.0        202.0
...                       ...          ...          ...
99922   Adults            193        804.0        866.0
        Children           90         30.0         54.0
        Seniors            40        714.0        744.0
        Unknown           770        170.0          0.0
        Youth              59        192.0        202.0
99923   Adults             55        804.0        866.0
        Children            9         30.0         54.0
        Seniors            17        714.0        744.0
        Unknown           175        170.0          0.0
        Youth               5        192.0        202.0
99925   Adults            447        804.0        866.0
        Children          174         30.0         54.0
        Seniors           104        714.0        744.0
        Unknown          1643        170.0          0.0
        Youth              89        192.0        202.0
99926   Adults            791        804.0        866.0
        Children          361         30.0         54.0
        Seniors           125        714.0        744.0
        Unknown          2928        170.0          0.0
        Youth             175        192.0        202.0
99927   Adults             64        804.0        866.0
        Children            5         30.0         54.0
        Seniors            10        714.0        744.0
        Unknown           190        170.0          0.0
        Youth              13        192.0        202.0
99929   Adults           1285        804.0        866.0
        Children          416         30.0         54.0
        Seniors           336        714.0        744.0
        Unknown          4709        170.0          0.0
        Youth             268        192.0        202.0

[165595 rows x 3 columns]